.intro-main{
    padding: 20px;
    background-color: turquoise;
    text-align: center;
    margin: 0px;
    border: 0px;
}
body{
    margin: 0px;
    border: 0px;
}

.algorithm{
    border: 0ch;
    padding: 10px;
    background-color: greenyellow;
    text-align: left;
    display: inline-block;
}
.algorithm:hover {
    background-color: azure;
    color: black;
}
.bars{
    border: 10px solid yellow;
    text-align: center;
    position: top;
}
