header{
    height: 10vh;
    position: relative;
    background-color: turquoise;
}
.intro-main{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body{
    margin: 0;
    border: 0;
}
main {
    height: 80vh;
}
.algorithms {
    background-color: greenyellow;
    text-align: center;
    height: 70vh;
    width: 10vw;
    float: left;    
}
.algorithm{
    text-align: center;
    position: center;
    height: 14vh;
    width: 10vw;
    background-color: greenyellow;
    text-align: center;
    display: block;  
    float: left;
    margin:0 0;
    padding: 0 0;
    border: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.algorithm:hover {
    background-color: azure;
    color: black;
}

.bars{
    display: inline;
    height: 70vh;
    bottom: 20vh;
    text-align: center;
    margin: 0 2vw;
}


.slideContainer {
    position:absolute;
    background-color:greenyellow;
    text-align: center;
    height: 10vh;
    width: 100%;
    bottom: 10vh;
}
.input {
    height:10vh;
    display: inline-block;
    text-align: center;
}

footer {
    background-color: black;
    height: 10vh;
    position : relative;
}
#footer {
    margin-right: 1vw;
    text-align: center;
    float: right;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#footer img {
    background-color: white;
    border-radius: 50%;
}
